<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile">
        </div>
      </div>
      <div class="col-sm-7 p-rgt-sec">
        <div>
        <span class="p-tag">Software Developer</span>
        <h1 class="mt-4">
          Sai Keerthi
        </h1>
        <p class="p-des mt-3 mb-4">Full Stack Developer with 3+ years of professional experience in .NET and Angular frameworks having hands-on experience in building web applications and solutions using technologies like HTML, CSS, and JavaScript.
          Also have experience in database design and development, including SQL Server. I am also a certified Salesforce Admin and Developer. </p>
        <a href="#" class="p-readmore">Read More <i class="fa fa-play"></i></a>

      </div>
        <div>
          <h6> Send your email</h6>
          <div class="row">
          <form class="form-inline" autocomplete="off">
            <div class="form-group">

                <input type="email" class="form-control" id="email" placeholder="Enter your email here" autocomplete="off">
              </div>

            <button class="btn btn-warning">Send</button>


          </form>
        </div>
        </div>

      </div>
    </div>
  </div>
</section>
